#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#msg-box1-c .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-c .mbr-article {
  color: #fff;
}
#msg-box2-d .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-d .mbr-article {
  color: #252525;
}
#dropdown-menu-2btn-1a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1a .nav .link,
#dropdown-menu-2btn-1a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1a .navbar,
#dropdown-menu-2btn-1a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1a .dropdown-menu a:hover,
#dropdown-menu-2btn-1a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1a .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-16 .nav .link,
#dropdown-menu-2btn-16 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-16 .navbar,
#dropdown-menu-2btn-16 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-16 .dropdown-menu a:hover,
#dropdown-menu-2btn-16 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-16 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-u .nav .link,
#dropdown-menu-2btn-u .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-u .navbar,
#dropdown-menu-2btn-u .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-u .dropdown-menu a:hover,
#dropdown-menu-2btn-u .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-u .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-q .nav .link,
#dropdown-menu-2btn-q .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-q .navbar,
#dropdown-menu-2btn-q .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-q .dropdown-menu a:hover,
#dropdown-menu-2btn-q .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-q .navbar-toggler {
  color: #ffffff;
}
